extends ../layout.pug

block content
    ul.list-unstyled.list-inline
        li
            h1.section-title
                span Installed Addons
        li.pull-right
            h1.section-title
                .row
                    .col-sm-7
                        form.row(role="form", action="/addons/bult/search", method="POST")
                            .col-sm-7
                                .form-group.pmd-textfield.pmd-textfield-floating-label
                                    input#searchQuery.form-control(type='text', name="searchQuery", placeholder='Search addons...')
                                    span.pmd-textfield-focused
                            .col-sm-2
                                button.btn.pmd-btn-outline.pmd-ripple-effect.btn-success(type="submit")
                                    | Search Bult
                    .col-sm-5
                        button.btn.pmd-btn-outline.pmd-ripple-effect.btn-success(type="button", data-target="#install-addon-zip", data-toggle="modal")
                            | Install Addon (.zip)

    #install-addon-zip.modal.fade(tabindex="-1", style="display: none;", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header.bordered
                    button.close(aria-hidden="true", data-dismiss="modal", type="button") ×															
                    h2.pmd-card-title-text Install Addon
                .modal-body
                    form.form-horizontal(method="POST" action="/addons/ember/install")
                        .form-group.pmd-textfield.pmd-textfield-floating-label
                            label(for="zipURL") URL (must link to a .zip)
                            input#zipURL.mat-input.form-control(type="url", name="zipURL",value="")
                            span.pmd-textfield-focused
                        .pmd-modal-action
                            button.btn.pmd-ripple-effect.btn-primary(type="submit") Install														
                            button.btn.pmd-ripple-effect.btn-default(data-dismiss="modal", type="button") Cancel

    ol.breadcrumb.text-left
        li
            a(href='/') Dashboard
        li.active Addons

    table#addons.table.pmd-table.table-hover.table-striped.display.responsive.nowrap.dataTable.no-footer.dtr-column.collapsed(cellspacing="0", width="100%", role="grid", aria-describedby="example_info", style="width: 100%;")
        thead
            tr(role="row")
                th.sorting(tabindex="0", rowspan="1", colspan="1") Name
                th.sorting(tabindex="0", rowspan="1", colspan="1") Version
                th.sorting(tabindex="0", rowspan="1", colspan="1") Author
                th.sorting(tabindex="0", rowspan="1", colspan="1") Summary
                th(tabindex="0", rowspan="1", colspan="1") 
        tbody
            each addon, key in bultResponse.data
                tr(role="row")
                    td #{addon.name}
                    td #{addon.tags.latest}
                    td #{addon.user}
                    td #{addon.description.summary}
                    td
                        form(method="POST", action="/addons/ember/install")
                            input#zipURL(name="zipURL", style="display:none;", type="text", value=addon.dist.download)
                            input#addonName(name="addonName", style="display:none;", type="text", value=addon.name)
                            button.btn.btn-sm.pmd-btn-raised.pmd-ripple-effect.btn-info(type="submit") Install


    script.
        console.log(!{JSON.stringify(bultResponse)})